




#reminderTabe{
         -fx-background-color: #FFFFFF;
          -fx-border-radius: 7px;


}

#reminderTabe .column-header-background{
         -fx-background-color: transparent;

}

#reminderTabe .column-header{
         -fx-background-color: #433BFF;
}

#reminderTabe .column-header-background .label{
        -fx-text-fill: #FFFFFF;

}

.table-row-cell{
-fx-background-color: transparent;
}



#rem{
-fx-text-fill: black;
}


#btnOpenLogin{
    -fx-background-color: #433BFF;
    -fx-text-fill: white;
}

#btnOpenRegister{
    -fx-background-color: transparent;
       -fx-text-fill: #433BFF;
}

#btnReturnLogin{
        -fx-background-color: transparent;
          -fx-text-fill: #433BFF;
}

#btnSubmitReg {
     -fx-background-color: #433BFF;
        -fx-text-fill: white;
}

#btnUpdateUser{
 -fx-background-color: #433BFF;
        -fx-text-fill: white;
}

#btnReturn{
         -fx-background-color: transparent;

}